*{
    margin:0;
    padding: 0;
}
.navbar{
    display: inline-block;
    background-color: #ffcccc;
    padding: 0.7vw;
    width: 100%;
}
.logo{
    display: inline-block;
    width: 50vw;
}
.navbar img{
    margin-left:10%;
    display: inline-block;
    width: 8vw;

}
.righticons{
    float: right;
    margin-right: 4%;
}
.righticons div{
    padding: 0.5vw;
}
.righticons div a {
    text-decoration: none;
    color: black;
}
.navbar div{
    display: inline-block;
}

body{
    background-color: grey;
}

.centeredbody{
margin-left: 25%;
margin-right: 25%;
background-color: white;
position: relative;
text-align: center;
}

.imagehead{
    display: inline-block;
}
.img1{
   display: inline-block;
   position: relative;
   text-align: center;
}
.img1text{
        position: absolute;
        top: 30%;
        left: 50%;
        background-color: black;
        opacity: 60% ;
        color:white;
}
/* .img2text{
    position: absolute;
    top: 12vw;
    right: 2vw;
} */