*{
    margin:0;
    padding: 0;
}
.navbar{
    display: flex;
    background-color: #ffcccc;
    padding: 0.6vw;
    width: 100%;
    margin: auto; 
}
.logo{
    flex: 1;
    width: 50vw;
}
.navbar img{
    margin-left:10%;
    flex: 2;
    width: 10vw;
}
.righticons{
    float: right;
    margin-right: 4%;
}
.righticons div{
    padding: 0.5vw;
}
.righticons div a {
    text-decoration: none;
    color: black;
}
.navbar div{
    display: inline-block;
}

body{
    background-color: grey;
}

.centeredbody{
width: 70%;
margin: 0 auto;
background-color: white;
position: relative;
padding: 20px;
}

.imagehead{
    display: flex;
    align-items: center;
    box-shadow: #ffcccc;
}
.img1{
   flex: 2;
   order: 1;
   position: relative;
   text-align: center;
   width: 75%;

}
.img1text{
    position: absolute;
    top: 30%;
    left: 50%;
    font-weight: bolder;
    background-color: white;
    opacity: 60% ;
        color:black;
}
.img2{
    
    flex: 1;
    order: 2;
    position: relative;
    text-align: center;
    width: 25%;
 }

 .img2text{
         position: absolute;
         top: 83%;
         font-weight: bolder;
         background-color: white;
         opacity: 60% ;
         color:black;
 }

 .items{
     display: grid;
     grid-gap:20px;
     grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
     width: 95%;
     justify-content: center;
     margin: 0 auto;
    
 }

 .imgr{
     display: flex;
     flex-direction: column;
     justify-content: center; 
     align-items: center;  
     
 }

 .itemimgs .imgr img {
     width: 75%;
     height: 200px;

 }

 .text{
     display: flex;
     flex-direction: column;
     color: rgb(84, 71, 27);
 }

.imgbottom{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    justify-items: left;
}
 .imgbottom  h2{
     background-color: brown;
     border-radius: 50%;
     color: white;
     width: 1.7vw; 
     height: 2vw;
     text-align: center;
 }
 .imgbottom  img {
     width: 100%;
     position: relative;
     text-align: center;
     }
    
.imgbottom .img .txtonarrow{
    position: relative;
    color: white;
    font-size: large;
    top: -26px;
    left: 35px;
}

.smilemain{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.smilemain .imgpart input[type="radio"]{
     padding: 20px 12px;
     border: 2px gray solid;
}

.smilemain .textpart i{
    background-color: black;
    border-radius: 100%;    
    color: white;
    width: 1vw; 
    height: 1vw;
    text-align: center;
    padding: 4px;
}

.smilemain .imgpart li{
    border: 2px solid; 
    padding:0.5vw; 
    width:20vw;
    column-gap: 2px;
}

.checkboxes{
    padding: 2px;
    width: 220px;
    height: 5px;
    display: flex;
    flex-direction: column;
}

.checkboxes label{
    border: 3px solid grey;
    padding: 0.2vw;
    border-radius: 0.4vw;
}

.rightbottom{
    display: flex;
}

.right_left{
    flex: 1;
    order: 1;
    margin-right: 5%;
}

.right_right{
    flex: 2;
    order: 2;
    justify-content:left ;
}

.contactimg{
  text-align: center;
  
}

.form{
    text-align: right;
}

.form input{
    padding: 0.4vw;
   
}
.form select{
    width: 32.2vw;
    padding: 0.4vw;
}
.msgbox{
    display: flex;
}

.msgbox label{
    flex: auto;
    order: 1;
    margin-right: 0.2vw;
}

.msgbox textarea{
    flex: auto;
    order: 2;
}

.attachment{
    display: flex;
}

.attachment .alable{
    flex: 2;
    text-align: right;
}

.attachment .abutton{
    flex: 10;
    width: 25vw;
    text-align: left;
    margin-left: 1vw;

}
.bottomstartbutton{
    text-align: center;
}
.continuebutton{
 text-align: right;
 margin-right: 5vw;
}
.continuebutton button{
    background-color: brown;
    padding: 0.5vw;
    color: white;
    border: none;
    width: 9vw;
    border-radius: 0.2vw;
}
